<ng-container *ngIf="{
  store: store$ | async,
  storeLoading: storeLoading$ | async,
  products: products$ | async,
   productsLoading: productsLoading$ | async
  } as data">

  <div
    class="text-3xl pt-7 pl-7 mb-10 font-medium text-center"
    *ngIf="!data.storeLoading && data.store"
  >
    {{data.store.name}}
  </div>

  <div class="flex flex-row justify-end pr-10">
    <mat-button-toggle-group [formControl]="viewMode">
      <mat-button-toggle value="grid">
        <mat-icon>grid_on
        </mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="panels">
        <mat-icon>
          view_headline
        </mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <ng-container *ngIf="!data.productsLoading && data.products">
    <app-grid
      *ngIf="viewMode.value === 'grid'"
      [products]="data.products"
    ></app-grid>
    <app-panels
      *ngIf="viewMode.value === 'panels'"
      [products]="data.products"
    ></app-panels>
  </ng-container>
</ng-container>