<mat-drawer-container
  class="h-full"
  autosize
>
  <mat-drawer
    #drawer
    mode="side"
    [opened]="isSidenavOpened$ | async"
  >
    <div class="h-full bg-gray-100">
      <mat-list role="list">
        <mat-list-item>
          <div
            [routerLink]="['/stores']"
            [ngClass]="{ 'bg-gray-200 font-medium': storesActive.isActive }"
            #storesActive="routerLinkActive"
            routerLinkActive
            class="hover:bg-primary hover:text-white cursor-pointer px-4 py-2 rounded transition min-w-40 flex flex-row items-center"
          >
            <mat-icon class="mb-1 mr-3">home</mat-icon>
            Stores
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <div class="flex flex-col h-full p-4">
    <ng-content></ng-content>
  </div>
</mat-drawer-container>