<ng-container *ngIf="{
    store: store$ | async,
    storeLoading: storeLoading$ | async,
    stats: stats$ | async,
    statsLoading: statsLoading$ | async
  } as data">
  <ng-container *ngIf="!data.storeLoading && data.store && !data.statsLoading && data.stats else showSkeleton">
    <div
      class="text-3xl pt-7 pl-7 mb-10 font-medium text-center"
      *ngIf="!data.storeLoading && data.store"
    >
      {{data.store.name}} - Statistics
    </div>

    <app-polar-chart [stats]="data.stats"></app-polar-chart>
  </ng-container>
</ng-container>

<ng-template #showSkeleton>
  <app-skeleton></app-skeleton>
</ng-template>